@charset "utf-8";
html, body {
	height: 100%;
	background: url("../images/bg.jpg") 0 0 repeat;
	background-size: 100% 100%;
}
.wrap {
	width: 100%;
}
.sub {
	width: 100%;
	margin: 0 auto;
}
.logo {
	display: block;
	width: 100%;
	height: 90px;
	background: url("../images/line.jpg") -1px 0px no-repeat;
	background-size: 100%;
}
.nav-out {
	width: 100%;
	height: 46px;
	background: #8DD4DF;
}
.nav {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.nav a {
	float: left;
	width: 200px;
	height: 46px;
	color: #fff;
	line-height: 46px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}
.nav a:hover {
	color: black;
}
.nav .select {
    background: #E3F2B7;
    color: blue;
}
/*内容框架*/
.tabs {
    width: 1000px;
    height: 600px;
    margin: 20px auto;
    background: url("../images/bac.png") 0 0 repeat;
}
.tits {
   box-shadow: inset 2px 0 4px #ccc;
}
.tits li {
    float: left;
    width: 200px;
    height: 46px;
    box-shadow: inset 0 0 2px #ccc;
    color: blue;
    line-height: 46px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}
.tits li:hover {
    color: gold;
    background: #778daa;
}
.tits .word {
    color: gold;
}
.word {
    background: #778daa;
}